USE [productSales]
GO
/****** Object:  Table [dbo].[products]    Script Date: 2/7/2017 2:33:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[price] [int] NOT NULL,
	[discount] [int] NOT NULL,
	[color] [varchar](100) NOT NULL,
	[size] [varchar](100) NOT NULL,
	[catogory] [varchar](20) NOT NULL,
	[brand] [varchar](10) NOT NULL,
	[description] [varchar](1000) NOT NULL,
	[infomation] [varchar](1000) NOT NULL,
	[rate] [int] NOT NULL,
	[numOfRate] [int] NOT NULL,
	[reviews] [varchar](1000) NOT NULL,
	[tag] [varchar](20) NOT NULL,
	[sku] [varchar](10) NOT NULL,
	[picture] [varchar](200) NOT NULL,
	[clickTime] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[userlogin]    Script Date: 2/7/2017 2:33:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userlogin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[isAdmin] [char](1) NULL,
	[firstName] [varchar](50) NOT NULL,
	[lastName] [varchar](50) NULL,
	[sex] [char](1) NOT NULL,
	[mobile] [bigint] NULL,
	[address] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[products] ON 

GO
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[userlogin] ON 

GO
INSERT [dbo].[userlogin] ([id], [username], [password], [email], [isAdmin], [firstName], [lastName], [sex], [mobile], [address]) VALUES (1, N'mayue', N'mayue', N'yuema@callutheran.edu', N'N', N'Yue', N'Ma', N'1', 8572851873, N'1527 Patricia Ave, Simi Valley, CA')
GO
SET IDENTITY_INSERT [dbo].[userlogin] OFF
GO
